.container{
    height: 100%;
    width: 100%;
    
   
    display: flex;
    flex-direction: column;
    overflow:hidden;
    
}

.listData{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    position: relative;
    padding-top: 50px;
    margin-top: 20px;
    width: 1102px;
    margin-bottom: 20px;
}

@media(max-width:800px){
    .listData{
        flex-direction: column;
    }
}