*, *::after, *::before{
    padding: 0;
    margin: 0;
   
  
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
html{
  height: 100%;
}
body {
  min-height: 100% !important;
  min-width: 100% !important;
  background-color: #B0DCFF;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  
  overflow-x: hidden;
  font-family: 'Mukta', sans-serif;
}

a{
    text-decoration: none;
    cursor: pointer;
}
