
.container{ 
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        
}

.containerMain{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
   
}

.imgDogContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 600px;
  
}

.imgdsit{
 width: 100%;
 transform: translate3d(0,40px,0);
}

.containerItem1{
    max-width: 576px;
    
    overflow: hidden;
    margin-top: 90px;
   
    
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.container1Title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: #f2f2f2;
}


.container1Content{
  width: 100%;
  
  text-align: center;
  
  margin-bottom: 10px;
  color: #f4f7fb;
  font-weight: 500;
  font-size: 18px;
 
}

.container1Btns{
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.btn{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    border-radius: 3px;
    position: relative;
    transition: .7s ease;
    width: 150px;
    color: #ffffff;
    font-size: 19px;
    text-transform: uppercase;
    background: #0AA9FB;
    
    margin-right: 30px;
    
   
}

.btn::after{
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -2px;

    width: 30%;
    height: 70%;
    opacity: 0;
    transition: .7s ease;

    border-radius: 3px;
    border-top: 3px solid white;
    border-left: 3px solid white;
}

.btn::before{
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    right: -2px;

    width: 30%;
    height: 70%;
    opacity: 0;
    transition: .7s ease;

    border-radius: 3px;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
}

.btn:hover{
    transform: skewX(-10deg) scale(1.05);
    cursor: pointer;
}


.btn2{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 150px;
   
    padding: 10px 32px;
    border-radius: 3px;
    position: relative;
    transition: .7s ease;
    color: #ffffff;
    font-size: 19px;
    
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #0AA9FB;
  
}

.btn2::after{
    content: '';
    display: block;
    position: absolute;
    top:-1px;
    left: -1px;
    z-index: -1;
    
    transition: .7s ease; 

    width: 0%;
    height: 103%;

    background: #0AA9FB;
}

.btn2:hover{
    cursor: pointer;
}

.btn2:hover::after{
    
    width: 101%;
}


.imageContent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    
    margin-bottom:5px;
    
    height: 200px;
    
    
}

.image{
    
    display: block;
    
    width: 60%;
    

}

.image:hover{
    cursor: pointer;
}


.container2Img{
    width: 650px;
   
}


.bgLoader{
    
    width: 100vw;
    height: 100vh;
    position: absolute;

    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.line{
    margin-top: 25px;
    margin-bottom: 40px;
    border: 0;
    width: 90%;
    border-radius: 50%;
    border:1px solid #eeeeee;
}

.container2{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    
    
    width: 100%;
    
    
}

.titleContainer2{
 color: #244D6E;
 font-size: 40px;
 margin-left: 10px;
}

.container2Row{
    display: flex;
    flex-direction: row;
    width: 100%;

}

.container3{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
 
  text-align: center;
  width: 100%;
  
}

.divBotm{
    
}

.container3Title{
    color: #244D6E ;
    font-size: 40px;
    margin-left: 10px;
}

.container3Row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



@media (max-width:780px){
    .container{
        padding: 10px;
        margin-left:30px
    }
    .container1Title{
        font-size: 20px;
        margin-top: 10px;
    }
    .containerMain{
        flex-direction: column;
    }
    .container1Btns{
        flex-direction: column;
    }
    .container1Content{
        max-width: 250px;
    }
    .btn{
        margin-right: 0px;
    }
    .btn2{
        margin-top: 10px;
    }
    .bgImg{
        display: none;
    }
    .container2Row{
        flex-direction: column;
    }

    .container3Row{
      flex-direction: column;
    }
    
    .divBotm{
        margin-bottom: 0;
    }
}