.cardContainer3{
    display: flex;
    flex-direction: column;
    padding: 60px;
   }
   
   .cardContainer3Title{
     color: #244D6E;
     font-size: 24px;
   }
   .cardContainer3Content{
    color: #1a75bf;
    font-weight: 600;
   }
   
   .cardContainer3AllContent{
       max-width: 300px;
       text-align: center;
       margin-top: 20px;
   }
   
   .imgCardContainer3{
       display: flex;
       height: 70px;
       width: 70px;
       background-color: #F8687B;
       border-radius: 50%;
   }
   .imgCardContainer3:hover{
       background-color: #EE9A11;
       transition: 0.7s ease;
   }
   .icone{
       color: #fff;
   }
   .imgContainer3{
       width: 100%;
       
   }