.container {
    
    height: 200px;
    width: 270px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    
    
    padding: 5px 0px;
    margin: 10px;
    
} 
.container:hover{
    cursor: pointer;
    transition: 0.7s ease;
    transform: translate3d(0,-10px, 0);
}

.imgCard{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
 
  height: 200px;
  
}

.image{
    width: 100%;
    height: 100%;
   
    object-fit: cover;
    
    border-radius: 10px;
}
.cardContent{
 
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
max-width: 40%;
 padding: 10px;
}

.typeHelp{
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-right: 10px;
  height: 15px;
  padding: 5px;
  letter-spacing: 3px;
}

.cardTitle{
 font-weight: bold;
 color: #fff;
 margin-top: 10px;
 
}

.cardText{
 font-size: 11px;
 color: #ffff;
 margin-top: 5px;
 
}

.linkCard{
  color: rgb(85, 58, 204);
  font-weight: bold;
  font-size: 12px;
}